.data-table td, .data-table th {
  padding: 0;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  height: 44px;
  background: #FFFFFF;
}

.data-table table {
  width: 100%;
  border: 1px solid #E8E8E8;
  border-collapse: collapse;
  text-align: center;
}

.data-table  td.label-cell, .data-table th.label-cell {
  padding: 0 5px;
  border: 1px solid #E8E8E8;
}

.ava-user {
  text-align: center;
}

.infinite-scroll-preloader {
  margin-top:-20px;
  margin-bottom: 10px;
  text-align: center;
}
.infinite-scroll-preloader .preloader {
  width:34px;
  height:34px;
}
